<div class="schoice form-group"> 
	<div class="schoice__item">
		<p>
			<span class="schoice__item-count">{{index}}</span> 
			<i class="fa fa-long-arrow-right"></i>
		</p>
		<p class="schoice__label">{{qz.headline}}</p>
	</div>

	<div class="schoice__radio" *ngFor='let choice of qz.choices'>
	    <div class="pretty p-icon p-round p-pulse">

	        <input type="radio" name="icon_solid+{{index}}" value="{{choice.value}}" 
	        	*ngIf="qz.nextEnable == true"/>

	        <input type="radio" name="icon_solid+{{index}}" value="{{choice.value}}" 
	        	*ngIf="qz.nextEnable == false" (click)="navTo(navigateNext)"/>

	        <div class="state p-info">
	            <i class="icon fa fa-check"></i>
	            <label>{{choice.label}}</label>
	        </div>
	    </div>
	</div>

</div>

<p class="btn btn-sm btn-primary schoice__btn-next"
	*ngIf="qz.nextEnable && !isLastQ" 
	[ngx-scroll-to]="navigateNext"> Next   <i class="fa fa-chevron-right"></i> </p>