@import '../../base-style/variables';

.user-text {
	&__label {
	    font-weight: 700;
	    font-size: 1.3em;
	    display: inline-block;
	    margin-left: 1em;
	    
	}
	&__item {
		display: flex;
		flex-direction: row;
		color: $blue-color-1x;
		align-items: baseline;
		&-count {
			font-size: 1.3em;
		}
		p {
			position: relative;
			margin-right: 1.5em;
		}
	}
	&__item-icon {
		position: absolute;
	    top: .5em;
    	left: 1.5em;
	}
	&__field-container {
		margin-left: 3.5em;
		padding-top: 1em;
		
	}
	&__field {
		font-size: 24px;
		line-height: 30px;
		width: 100%;
	    resize: none;
	    background: transparent;
	    outline: none;
	    box-sizing: border-box;
		color: $blue-color-1x;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid $blue-color-3x;

	    &:focus {
	    	border-color: transparent;	
	    }
	}
	&__btn-next {
		margin-left: 3.5em;
	    cursor: pointer;
		width: auto;
    	height: 35px;
	    color: $blue-color-1x;
	    &-text {
	    	display: inline-block;
	    	background-color: $blue-color-2x;
	        padding: .5em 1em;
	    	font-size: 19px;
		    
		    margin-right: .5em;
	    }
	}

	.pretty .state label {
		margin-left: 1em;
	}

}
