<form
	*ngIf="qzData"
	[formGroup] = 'form'
	(ngSubmit)="onFeedbackSubmit(form.value, '#formDataContainer')"
	>

	<ul class="quiz-list">

	    <li id="quest{{idx}}" class="quiz-list__item" 
	    	*ngFor="let question of questions; let idx = index; let isLastQ = last" >

	        <single-choice *ngIf="question.question_type == 'single-choice'" 
	        	[qz]="question" 
	        	[index]="(idx+1)"
	        	[isLastQ]="isLastQ"
	        	[headerSectionFormGroup]="form"
	        	[fieldName]="'schoice'+(idx)"
	        	[navigateNext]="'#quest'+(idx+1)">
	        </single-choice>

	        <multiple-choice *ngIf="question.question_type == 'multiple-choice'" 
	        	[qz]="question" 
	        	[index]="(idx+1)"
	        	[isLastQ]="isLastQ"
	        	[headerSectionFormGroup]="form"
	        	[fieldName]="'mchoice'+(idx)"
	        	[navigateNext]="'#quest'+(idx+1)">
	        </multiple-choice>
	
			<user-input *ngIf="question.question_type == 'text'" 
				[qz]="question" 
	        	[index]="(idx+1)"
	        	[isLastQ]="isLastQ"
	        	[headerSectionFormGroup]="form"
	        	[fieldName]="'userchoice'+(idx)"
	        	[navigateNext]="'#quest'+(idx+1)">
	        </user-input>
	        
	    </li>
	</ul>
	<div class="form-group quiz-list__btn-container" *ngIf="!pageLoader">
		<button class="quiz-list__btn-submit" [attr.aria-describedby]="'submit-form'"
			name="submit" type="submit" [disabled]="!form.valid">
			<span class="quiz-list__btn-submit-text">Submit</span>
			<span> show <strong>Form Data</strong></span>
		</button>
	</div>
</form>

<div class="form-footer" *ngIf="qzData">
	<div class="form-footer__container">
		<progress-bar [count]="count" [totalCount]="totalCount"></progress-bar>
		<feedback-data *ngIf="formData" [formDataValues]="formData"></feedback-data>
	</div>
</div>

<div class="loader" *ngIf="pageLoader"></div>