form {
    font-family: 'Montserrat', sans-serif;

}

.quiz-list {
    list-style: none;
    margin-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    &__item {
        min-height: 15em;
        padding: 5em 2em;
        text-align: left;
        border-radius: 1em;
        margin-bottom: 1em;
        color: #777777;
    }
}

