<div class="pretty p-icon p-round p-pulse" [formGroup]="headerSectionFormGroup">

    <input type="radio" name="ctrlName" value="gradle" (change)="onChange($event)"/>

    <div class="state p-info">
        <i class="icon fa fa-check"></i>
        <label>Template Test 1</label>
    </div>
</div>

<div class="pretty p-icon p-round p-pulse" [formGroup]="headerSectionFormGroup">

    <input type="radio" name="ctrlName" value="Visa" (change)="onChange($event)"/>

    <div class="state p-info">
        <i class="icon fa fa-check"></i>
        <label>Template Test 2</label>
    </div>
</div>