
<div class="mchoice form-group"> 
	<div class="mchoice__item">
		<p>
			<span class="mchoice__item-count">{{index}}</span> <i class="fa fa-long-arrow-right"></i>
		</p>
		<p class="mchoice__label">{{qz.headline}}</p>
	</div>
	<div class="mchoice__checkbox checkbox">
	  <label>
		<input type="checkbox" name="fav_foods" value="pizza">
		Pizza
	  </label>
	</div>
	<div class="mchoice__checkbox checkbox">
	  <label>
		<input type="checkbox"  name="fav_foods" value="hamburger">
		Hamburgers
	  </label>
	</div>
</div>

<p class="btn btn-sm btn-primary mchoice__btn-next" [ngx-scroll-to]="navigateNext"> Next   <i class="fa fa-chevron-right"></i> </p>