/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';


$base-color: #ebd7fa;

body {
    background-color: $base-color;
    font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.text-danger {
    background: #ff0000;
    color: #fff;
    font-size: .8em;
    padding: .5em 1em;
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin-left: 7em;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: -5px;
    border-bottom: 5px solid red;
}
